html
html
   head
      title Form Tester
   body
      form(action = "/geo-search-results", method = "GET")
         div
            label(for = "say") Longitude:
            input(name = "longitude" value = 2.344)
         br
         div
            label(for = "say") Latitude:
            input(name = "latitude" value = 48.86)
         br
         div
            label(for = "to") Radius:
            input(name = "radius" value = 0.003)
         br
         button(type = "submit") Send
