html
   head
       title Recherche
       link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css")
       link(rel="stylesheet", type="text/css", href="static/style.css")
       script(type="text/javascript", src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js")
   body
     div(id='map')
     div(name="position" id='myposition')
     form(id='formulaire' action = "/geo-search-results", method = "GET")
        div
           label(for = "titre") Recherche texte:
           input(id='texte' name = "texte" value = texte)
        br
        div
           label(for = "say") Longitude:
           input(id='longitude' name = "longitude" value = longitude)
        br
        div
           label(for = "say") Latitude:
           input(id = "latitude" name = "latitude" value = latitude)
        br
        div
           label(for = "to") Radius:
           input(name = "radius" value = radius)
        br
        button(type = "submit") Send
        button(type = "button" id="bout") Update coordinates and radius
        input(id='che' type='checkbox' checked=false)

     h1 Résultats
     div(id='result')
       each result in results
         div
           h2= result.properties.ins_nom
           p
             span Type :
             span= result.properties.eqt_type
           p
             span Localisation :
             span= result.geometry.coordinates.join(", ")
     script(type="text/javascript", src="static/map.js")
